version: "3.8"
services:
  db:
    image: mysql:latest
    environment:
      MYSQL_DATABASE: on_comanda
      MYSQL_USER: root
      MYSQL_PASSWORD: 05042004
    ports:
      - "5432:5432"
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - db
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
